# Working with Types in Python

Python is an object-oriented language. There are many different types of objects in Python. Let's start with the most common object types: strings, integers and floats. Anytime you write words (text) in Python, you're using character strings (strings for short). The most common numbers, on the other hand, are integers (e.g. -1, 0, 100) and floats, which represent real numbers (e.g. 3.14, -42.0

### Integers

Integer it can be Positive Negative and Zero .....-3,-2,-1,0,1,2,3.....

In [3]:
# Integer it can be positive negative and Zero .....-3,-2,-1,0,1,2,3.....

11
print(type(11)) # type keyword is use for know the data type

<class 'int'>

### Floats

Floats represent real numbers; they are a superset of integer numbers but also include "numbers with decimals".

In [2]:
# Float it can every decimal value 1.0,0.0 ,-1.0

2.14 
print(type(2.14))# type keyword is use for know the data type

<class 'float'>

# String

In [ ]:
# String

"Hello, Python 101!"
print(type("Hello, Python 101!"))# type keyword is use for know the data type

### Converting from one object type to a different object type

You can change the type of the object in Python; this is called typecasting. For example, you can convert an integer into a float

#### Converting integers to floats

In [6]:
# Convert 2 to a float

print(float(2))

2.0

When we convert an integer into a float, we don't really change the value (i.e., the significand) of the number. However, if we cast a float into an integer, we could potentially lose some information. For example, if we cast the float 1.1 to integer we will get 1 and lose the decimal information (i.e., 0.1)

In [7]:
# Casting 1.1 to integer will result in loss of information

print(int(1.1))

1

#### Converting from strings to integers or floats

Sometimes, we can have a string that contains a number within it. If this is the case, we can cast that string that represents a number into an integer using int()

In [10]:
# Convert a string into an integer

print(int('1'))
print(type(1))

1
<class 'int'>

But if you try to do so with a string that is not a perfect match for a number, you'll get an erro

In [11]:
# Convert a string into an integer with error

int('1 or 2 people') # Cause or and people still string

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [12]:
# Convert the string "1.2" into a float

float('1.2')

1.2

#### Converting numbers to strings

If we can convert strings to numbers, it is only natural to assume that we can convert numbers to strings, right?

In [16]:
# Convert an integer to a string

print(str(1))
print(type(str(1)))

# Convert an float to a string

str(1.2)
print(type(str(1.2)))

1
<class 'str'>
<class 'str'>

#### Boolean data type

Boolean is another important type in Python. An object of type Boolean can take on one of two values: True or False:

In [17]:
# Value true

True

True

In [18]:
# Value false

False

False

* **Notice that the value True has an uppercase "T". The same is true for False (i.e. you must use the uppercase "F"). ** *

#### We can cast boolean objects to other data types

In [19]:
# Convert True to int

int(True)

1

In [20]:
# Convert 1 to boolean

bool(1)

True

In [21]:
# Convert 0 to boolean

bool(0)

False

In [22]:
# Convert True to float

float(True)

1.0

# Exercise: Type

What is the data type of the result of: 6 / 2?

In [23]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

s = 6 / 2
print(s)
print(type(s))

3.0
<class 'float'>

What is the type of the result of: 6 // 2?

In [24]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

t = 6//2 # // is known as floar division in python which remove Decimal value
print(t)
print(type(t))

3
<class 'int'>

What is the type of the result of: "Hello, World!"

In [25]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

print(type("Hello, World!"))

<class 'str'>

What is the type of the result of: "hello" == "world"

In [28]:
"hello" == "world" # here use of comparision operator

False

Write the code to convert the following number representing employeeid "1001" to an integer

In [31]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
int("1001")

1001

Write the code to convert this number representing financial value "1234.56" to a floating point number

In [32]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
float("1234.56")

1234.56

Write the code to convert this phone number 123-456-7890 to a string

In [34]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell

str("123-456-67890")

'123-456-67890'

##### I have completed your hands-on lab on Types in Python.