# Pandas

In [ ]:
import pandas as pd
# read_csv is use for read csv files
df =pd.read_csv( "C:\\Users\\ayush\\OneDrive\\Desktop\\10 Hit Films.csv")
# df means dataFrame
df

,Sr.No,Name,Domestic Gross,Overseas Gross,Worldwide Gross,Domestic Nett,Verdict
0,1,Dangle,540.3 cr,1525.8 cr,2066.2 cr,380.5 cr,Industry Hit
1,2,Pathaan,647.5 cr,388 cr,1036 cr,535 cr,Hit
2,3,PK,448 cr,304 cr,752 cr,337 cr,Industry Hit
3,4,Sultan,421 cr,197 cr,618 cr,300 cr,Blockbuster
4,5,Sanju,439 cr,147 cr,587 cr,335 cr,Blockbuster
5,6,Padmaavat,395 cr,185 cr,227 cr,283 cr,Blockbuster
6,7,Dhoom 3,362 cr,192 cr,554 cr,260 cr,Industry Hit
7,8,War,378 cr,98 cr,475 cr,319 cr,Blockbuster
8,9,3-Idiots,274 cr,125 cr,400 cr,201 cr,Industry Hit
9,10,Krrish 3,320 cr,54 cr,374 cr,246 cr,Blockbuster

In [ ]:
df['Overseas Gross'] .max()

'     1525.8 cr'

In [ ]:
df.head()# print only first 5 index rows means start with zero
df.head(2) # print only first 2 index rows

In [ ]:
df.tail()# prnt last 5 row

NameError: name 'df' is not defined