# Working with Variable and Expressions in Python

#### Expression and Variables

##### Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers

In [1]:
# Addition operation expression

43 + 60 + 16 + 41

160

We can perform subtraction operations using the minus operator. In this case the result is a negative number:

In [2]:
# Subtraction operation expression

50 - 60

-10

We can do multiplication using an asterisk:

In [3]:
# Multiplication operation expression

5 * 5

25

We can also perform division with the forward slash:

In [10]:
# Division operation expression
print(25/5)
print(25 /6)

5.0
4.166666666666667

As seen in the quiz above, we can use the double slash for integer division, where the result is rounded down to the nearest integer:

In [ ]:
# Integer division operation expression

25 // 5

Let's write an expression that calculates how many hours there are in 160 minutes:

In [11]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
160//60

2

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 30 to the result of the multiplication (i.e., 120).

In [12]:
# Mathematical expression

30 + 2 * 60

150

And just like mathematics, expressions enclosed in parentheses have priority. So the following multiplies 32 by 60.

In [13]:
# Mathematical expression

(30 + 2) * 60

1920

## Variables

 ##### we can store values in variables,

In [15]:
# Store value into variable

x = 43 + 60 + 16 + 41 # here x is a variable
print(x)

160


We can also perform operations on x and save the result to a new variable:

In [17]:
# Use another variable to store the result of the operation between variable and value

y = x / 60
y

2.6666666666666665

### It's a good practice to use meaningful variable names, so you and others can read the code and understand it more easily:

In [18]:
# Name the variables meaningfully

total_min = 43 + 42 + 57 # Total length of albums in minutes
total_min

142

In [19]:
# Name the variables meaningfully

total_hours = total_min / 60 # Total length of albums in hours 
total_hours

2.3666666666666667

### Exercise: Expressions in Python


Write an expression to add 30 and 20 and subtract 40

In [20]:
30+20+40

90

Write an expression to subtract 5 from 55 and divide the result by 10

In [23]:
# Write your code below. Don't forget to press Shift+Enter to execute the cell
(55-5)/10

5.0

In [25]:
(6*10)/12

5.0

# Exercise: Variable in Python

What is the value of x where x = 3 + 2 * 2

In [ ]:
3+2*2

What is the value of y where y = (3 + 2) * 2?

In [27]:
(3+2)*2

10


What is the value of z where z = x + y?

In [31]:
# Couse in upper cell value of x is 7 and y is 10
z = 7+10
print(z)

17

## I have completed my hands-on lab on Expressions and Variables in Python.